<main>
  <header>
    <div class="content-width">
      <h1>{{ title }}</h1>
      <p>Actual weather data from the following places</p>
    </div>
  </header>

  <div class="content-width places">
    <!-- You can check if the data is available to be used in the template using ngIf directive -->
    <!-- Having the else part is useful to show a loading state while data is being requested, it expects a template -->
    <!-- https://angular.io/guide/built-in-directives -->
    <section *ngIf="firstPlaceData; else showLoading">
      <h2>Place: {{ firstPlaceData.name }}</h2>
      <!-- To debug data visually is better to place it within <pre>formatted tags -->
      <pre>{{ firstPlaceData | json }}</pre>
      <div>Weather: <pre>{{ firstPlaceData.main | json }}</pre></div>
    </section>

    <!-- Using Observable -->
    <section *ngIf="currentWeather$ | async as weather; else showLoading">
      <h2>Place: {{ weather.name }}</h2>
      <div>
        <div>Temperature: {{weather.main.temp}}℃</div>
        <div>Humidity: {{weather.main.humidity}}%</div>
      </div>
    </section>
  </div>
</main>

<!-- ng-template is not directly rendered in the html, only when is referenced by its #id, in this case is used in the ngIfElse -->
<ng-template #showLoading>
  Loading...
</ng-template>
